@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e0f2fe;
}

@layer utilities {
  .neumorphic {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.9);
  }

  .neumorphic-inset {
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 10px rgba(255, 255, 255, 0.9);
  }
}